<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiFare2ActiveDirectory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MiFare2ActiveDirectory.Properties.Settings>
            <setting name="SvcPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="CardReaderId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SvcUsername" serializeAs="String">
                <value>test</value>
            </setting>
        </MiFare2ActiveDirectory.Properties.Settings>
    </userSettings>
</configuration>